<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Template.master.cs" Inherits="Profiles.Framework.Template" EnableViewState='true' %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head id="Head1" runat="server">


    <title>Profiles RNS Covid Authors</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/framework/images/favicon.ico">

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <meta name="apple-mobile-web-app-title" content="Profiles RNS Covid Authors">
    <meta name="application-name" content="Profiles RNS Covid Authors">
    <meta name="msapplication-TileColor" content="#a41c2f">
    <meta name="theme-color" content="#a41c2f">
    <meta name="description" content="Covid Authors site hosted as an algorithm generated social network system of publications, keywords, co-authors and more.">
    <meta name="keywords" content="Covid Authors,Covid Publications,Covid Researchers,Social Network Analysis,">
    <meta name="author" content="Weber Lab (https://weber.hms.harvard.edu/)">
</head>
<body id="bodyMaster" class="body-page" runat="server">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXSD37"
            height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <form runat="server" id="form1" enctype="multipart/form-data" method="post">
        <asp:ToolkitScriptManager AsyncPostBackTimeout="3600" EnablePartialRendering="true" CombineScripts="false" EnableViewState="true" ID="toolkitScriptMaster" runat="server" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169019502-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-169019502-1');

     

        </script>

        <div id='page-container'>
            <center>
                <div id="header">

                    <div id="headerBox">
                        <div id="headerLogo">
                            <a href="<%=GetURLDomain()%>">
                                <img src="<%=GetURLDomain()%>/Framework/Images/CovidAuthorsLogo.png" /></a>
                        </div>
                        <div id="headerTitle" onclick="window.location.href='<%=GetURLDomain()%>'">
                            <div id="headerTitle-1">
                                <h1>COVID A</h1>
                                <h2>UTHORS</h2>
                            </div>
                            <div id="headerTitle-2">
                                <h4>Online profiles of coronavirus experts</h4>
                            </div>
                        </div>
                        <div id="headerSearch">
                            <div id="searchBox">
                                <input type="text" id="menu-search" class="searchBox-textbox" value="" placeholder="search..." />
                                <div style="float: right;">
                                    <img id="img-mag-glass" src="<%=GetURLDomain()%>/Framework/Images/SearchIcon.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profiles">
                    <div class="profilesHeader" runat="server" id="divProfilesHeader">
                        <div class="panelHeader">
                            <asp:ContentPlaceHolder ID="ContentHeader" runat="server">
                                <asp:Repeater runat="server" ID="rptHeader" OnItemDataBound="DrawModule">
                                    <ItemTemplate>
                                        <asp:PlaceHolder ID="phHeader" runat="server"></asp:PlaceHolder>
                                    </ItemTemplate>
                                </asp:Repeater>
                            </asp:ContentPlaceHolder>
                        </div>
                    </div>
                    <asp:ContentPlaceHolder ID="ContentActive" runat="server">
                        <asp:Repeater runat="server" ID="rptActive" OnItemDataBound="DrawModule">
                            <ItemTemplate>
                                <asp:PlaceHolder ID="phActive" runat="server"></asp:PlaceHolder>
                            </ItemTemplate>
                        </asp:Repeater>
                    </asp:ContentPlaceHolder>
                    <div id="ProfilesNotification" visible="false" runat="server">
                        <asp:Literal runat="server" ID="litSystemNotice"></asp:Literal>
                    </div>
                    <div class="profilesPage">
                        <button type="button" style="color: #000000;" onclick="javascript:topFunction();" id="rtnBtn" title="Go to top">Return to Top</button>
                        <div id="profilesMainRow" class="MainRow">
                            <div id="divContentLeft" class="profilesLeftCol" runat="server">
                                <asp:ContentPlaceHolder ID="Contentleft" runat="server">
                                    <asp:Repeater runat="server" ID="rptLeft" OnItemDataBound="DrawModule">
                                        <ItemTemplate>
                                            <asp:PlaceHolder ID="phLeft" runat="server"></asp:PlaceHolder>
                                        </ItemTemplate>
                                    </asp:Repeater>
                                </asp:ContentPlaceHolder>
                            </div>
                            <div id="divProfilesContentMain" class="profilesContentMain profilesMaxWidth" runat="server">
                                <div id="divTopMainRow" style="width: 100%" runat="server">
                                    <asp:Literal runat="server" ID="litPageTitle"></asp:Literal>
                                </div>
                                <asp:Literal runat="server" ID="litPageSubTitle"></asp:Literal>
                                <div class="backLink">
                                    <asp:Literal runat="server" ID="litBackLink"></asp:Literal>
                                </div>
                                <div class="pageDescription">
                                    <asp:Literal runat="server" ID="litPageDescription"></asp:Literal>
                                </div>
                                <div class="prns-screen-search" id="prns-content">
                                    <div class="content-main">
                                        <asp:Literal runat="server" ID="litTabs"></asp:Literal>
                                    </div>
                                </div>
                                <div class="panelMain">
                                    <asp:ContentPlaceHolder ID="ContentMain" runat="server">
                                        <asp:Repeater runat="server" ID="rptMain" OnItemDataBound="DrawModule">
                                            <ItemTemplate>
                                                <asp:PlaceHolder ID="phMain" runat="server"></asp:PlaceHolder>
                                            </ItemTemplate>
                                        </asp:Repeater>
                                    </asp:ContentPlaceHolder>
                                </div>
                            </div>
                            <div class="profilesContentPassive">
                                <div class="panelPassive">
                                    <asp:ContentPlaceHolder ID="ContentPassive" runat="server">
                                        <asp:Repeater runat="server" ID="rptPassive" OnItemDataBound="DrawModule">
                                            <ItemTemplate>
                                                <asp:PlaceHolder ID="phPassive" runat="server"></asp:PlaceHolder>
                                            </ItemTemplate>
                                        </asp:Repeater>
                                    </asp:ContentPlaceHolder>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
        <div id="footer">
            <center>
                <div class="BottomText">
                    <div>
                        COVID Authors was created by the <a href="http://weber.hms.harvard.edu">Weber Lab</a> at Harvard Medical School and powered by <a href="http://profiles.catalyst.harvard.edu">Profiles Research Networking Software</a>.
Data for this website came from <a href="https://www.ncbi.nlm.nih.gov/research/coronavirus/">LitCovid</a> [Chen Q, Allot A, Lu Z. Keep up with the latest coronavirus research. <i>Nature</i>. 2020;579(7798):193]
and the <a href="http://er.tacc.utexas.edu/datasets/ped">PubMed Knowledge Graph</a> [Xu J, Kim S, Song M, et al. Building a PubMed knowledge graph. <i>Sci Data</i>. 2020 Jun 26;7(1):205].
This website is not intended to be used to make medical decisions.
Author profiles are generated by an automated algorithm. The accuracy of the information on those profiles is not guaranteed to be accurate.
For more information about this website contact Griffin M Weber, MD, PhD, at <a href="mailto:weber@hms.harvard.edu">weber@hms.harvard.edu</a>.                            
                    </div>
                </div>
            </center>
        </div>
    </form>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            

            if (screen.width < 600) {
                jQuery(".PropertyGroupItem").find('div:first').hide();
            }
            else {
                jQuery(".PropertyGroupItem").find('div:first').show();
            }

            jQuery("#searchBox").on("keypress", function (e) {
                if (e.which == 13) {
                    minisearch();
                    return false;
                }
                return true;
            });

            jQuery("#img-mag-glass").on("click", function () {
                minisearch();
                return true;
            });

            jQuery(".SupportText").remove();
            jQuery("#page-container a").css("cursor", "pointer");
            jQuery(".title-container").css("cursor", "pointer");
            jQuery('.title-container').hover(function () {
               jQuery(".title-container").css("opacity", ".5");
            });
            

            jQuery(".questionImage").on("click", function (event) {
                event.stopPropagation();
                event.stopImmediatePropagation();
                jQuery(this).parent().siblings(".passiveSectionHeadDescription").toggle();
                event.preventDefault();
            });

            jQuery('input[type="text"]').on("focusout", function (event) {
                jQuery(this).val(jQuery.trim($(this).val()));
                return true;
            });

            if (jQuery(".panelPassive").text().trim().length == 0) { jQuery(".panelPassive").remove(); }
            if (jQuery(".profilesContentPassive").text().trim().length == 0) { jQuery(".profilesContentPassive").remove(); }
            if (jQuery(".content-main").text().trim().length == 0) { jQuery(".content-main").remove(); }
            if (jQuery(".prns-screen-search").text().trim().length == 0) { jQuery(".prns-screen-search").remove(); }
            if (jQuery(".profilesHeader").text().trim().length == 0) { jQuery(".profilesHeader").remove(); }
            if (jQuery(".panelHeader").text().trim().length == 0) { jQuery(".panelHeader").remove(); }

        });

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 250) {
                document.getElementById("rtnBtn").style.display = "block";
            } else {
                document.getElementById("rtnBtn").style.display = "none";
            }
            return true;
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            $('body,html').animate({ scrollTop: 0 }, 500);
            return true;
        }

        function minisearch() {
            var keyword = jQuery("#menu-search").val();
            var classuri = 'http://xmlns.com/foaf/0.1/Person';
            document.location.href = '<%=ResolveUrl("~/search/default.aspx")%>?searchtype=people&searchfor=' + keyword + '&classuri=' + classuri + '&new=true';
            return true;
        }




    </script>
    <%="<script type=\"text/javascript\">"%>
    <asp:Literal runat="server" ID="litJS"></asp:Literal>
    <%="</script>"%>
</body>
</html>
